body{
    background-color: lightgray;
}
.container-fluid{
    background-color: white;
}
img{
    width: 100%;
    height: auto;
    margin: 4% 0% 4% 0%;
    padding: 20px;
}
.btn-primary{
    background-color: turquoise;
}
.navbar-brand{
    background-color: turquoise;
    padding: 10px;
}
footer{
    border-top: 5px solid turquoise
}

/* .screenwidth{
    width: 60%;
.screenwidth
}
@media (max-width: 767px) {
    .screenwidth{
        width: 100%;
    }
} */